$primary-background: url(../images/bg.jpg);

$white-color: #ffffff;

$gold-main-color: #cb9b51;

$yellow: #f6e27a;

$placeholder-text-color: #3a3a3a;

$primary-font: "Raleway", sans-serif;

$secondary-font: "Roboto", sans-serif;

$script-font: "Tangerine", cursive;
