/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
	height: 100vh;
	background: $primary-background;
	background-repeat: repeat;
	background-size: 100% 100%;
}

.main-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.introduction {
	.welcome {
		color: $white-color;
		font-family: $primary-font;
	}
	.logo-large {
		color: $gold-main-color;
	}
	.tagline {
		color: $gold-main-color;
	}
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hidden {
	display: none;
}

.user-booking-container,
.search-results-container {
	border: 1px red solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.booking-card {
	margin: 3px;
	background-color: grey;
}
