/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
	height: 100vh;
	background: $primary-background;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	mix-blend-mode: darken;
}

.hidden {
	display: none;
}
